
body{
    background:#39c;
}


.main_wraper{
    
    
    background:green;
    width: 1000px;
    height: auto;
    margin:auto;
    
}
img{
    padding: 0px;
    width:900px;
    height: 200px;
    margin:0 auto;
}
.header_wraper{
    background:yellow;
    width: 900px;
    height: 200px;
    margin:0 auto;
    
}
#navbar{
    padding: 0px;
    background:yellow ;
    width:900px ;
    height :50px;
    color: green;
    margin :0 auto;
    
}
#menu{
    padding:0px;
    line-height: 34px;
    margin-top: 5px;
    float:left;
}
#menu li{
    list-style: none;
    display :inline;
}
#menu a {
    color:  #27b364 ;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 8px;
}
#menu a:hover {
    text-decoration: blink;
    color: #7f0e6a ;
    font-weight: bold;
}
.content_wraper{
    
    
    background:#F96;
    width :900px;
    height:700px;
    margin :0 auto;
    
}
.rightcontent_wraper{
    
    background:#C67;
    width :600px;
    height:700px;
    float: left;
    margin :0 auto;
}
.leftcontent_wraper{
    
    background:#C34;
    width :300px;
    height:700px;
    float: right;
    margin :0 auto;
}
.footer{
    width:900px;
    height :50px;
    background: #999;
    margin :0 auto;
    
}